@import "../../../_variables.scss";

.sportsman-court-list {
    overflow: auto;
    width: 100%;
    height: 92vh;
    background-color: $sportsman-background-color;
}

.sportsman-court-list-title {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    color: $primary-color;
    font-size: 32px;
    font-weight: bold;
}
