@import "../../../_variables.scss";

.sportsman-login-page {
    width: 100vw;
    height: 100vh;
    background-color: $sportsman-background-color;
}

.sportsman-login-page-space-1 {
    height: 10.5%;
}

.sportsman-login-page-space-2 {
    height: 6%;
}

.sportsman-login-page-space-3 {
    height: 5%;
}

.sportsman-login-page-space-4 {
    height: 2%;
}

.sportsman-login-page-logo {
    display: block;
    margin: auto;
    height: 10%;
}

.sportsman-login-page-runner {
    display: block;
    margin: auto;
    height: 33%;
}

.sportsman-login-page-log-in {
    display: block;
    margin: auto;
    width: 60%;
    height: 6%;
    font-size: 16px;
    font-weight: bold;
    background-color: $primary-color;
}

.sportsman-login-page-court-provider-login {
    font-size: 16px;
    text-align: center;
    color: $secondary-color;
}

@media (min-width: $pc-min-width) {
    .sportsman-login-page {
        margin: auto;
        width: $pc-display-size;
    }
}
