@import "../../../_variables.scss";

.login-page {
    width: 100vw;
    height: 100vh;
    background-color: $sportsman-background-color;
}

.login-page-space1 {
    height: 10.5%;
}

.login-page-space2 {
    height: 3%;
}

.login-page-space3 {
    height: 3%;
}

.login-page-space4 {
    height: 2%;
}

.login-page-space5 {
    height: 2%;
}

.login-page-space6 {
    height: 3%;
}

.login-page-space7 {
    height: 1.5%;
}

.login-page-logo {
    display: block;
    margin: auto;
    height: 10%;
}

.login-page-runner {
    display: block;
    margin: auto;
    height: 24%;
}

.login-page-email {
    display: block;
    margin: auto;
    padding-left: 12px;
    width: 60%;
    height: 6%;
    font-size: 16px;
    color: $normal-text-color;
    background-color: $sportsman-background-color;
    border: 1px solid $input-border-color;
    border-radius: 16px;

    &::placeholder {
        font-size: 14px;
        color: $input-placeholder-color;
    }
}

.login-page-password {
    display: block;
    margin: auto;
    padding-left: 12px;
    width: 60%;
    height: 6%;
    font-size: 16px;
    color: $normal-text-color;
    background-color: $sportsman-background-color;
    border: 1px solid $input-border-color;
    border-radius: 16px;

    &::placeholder {
        font-size: 14px;
        color: $input-placeholder-color;
    }
}

.login-page-log-in {
    display: block;
    margin: auto;
    width: 60%;
    height: 6%;
    font-size: 16px;
    font-weight: bold;
    background-color: $primary-color;
}

.login-page-register-text {
    font-size: 16px;
    text-align: center;
    color: $normal-text-color;
}

.login-page-register-link {
    color: $secondary-color;
}

.login-page-court-provider-login {
    font-size: 16px;
    text-align: center;
    color: $secondary-color;
}

@media (min-width: $pc-min-width) {
    .login-page {
        margin: auto;
        width: $pc-display-size;
    }
}
