@import "../../_variables.scss";

.court-card {
    margin: auto auto 12px auto;
    width: 90%;
    border: 2px solid $court-card-border-color;
    border-radius: 20px;
}

.court-card-court-image {
    display: block;
    margin: 12px auto;
    width: 90%;
    border: 1px solid $court-card-border-color;
    border-radius: 12px;
}

.court-card-middle {
    width: 100%;
    height: 36px;
}

.court-card-space-1 {
    float: left;
    width: 5%;
    height: 100%;
}

.court-card-space-2 {
    float: left;
    width: 5%;
    height: 100%;
}

.court-card-space-3 {
    float: left;
    width: 5%;
    height: 100%;
}

.court-card-num-users {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    color: $secondary-color;
    background-color: $court-card-num-users-background-color;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 12px;
}

.court-card-sport-name {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    color: $secondary-color;
    background-color: $court-card-sport-name-background-color;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 12px;
}

.court-card-details {
    float: left;
    width: 25%;
    height: 100%;
    color: black;
    background-color: $primary-color;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

.court-card-bottom {
    width: 100%;
    height: 80px;
}

.court-card-court-name {
    float: left;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
    color: $secondary-color;
    font-size: 20px;
}

.court-card-distance {
    float: right;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    color: $secondary-color;
    font-size: 16px;
}

@media (min-width: $pc-min-width) {
    .court-card-middle {
        height: 28px;
    }

    .court-card-num-users,
    .court-card-sport-name,
    .court-card-details {
        font-size: 10px;
    }

    .court-card-bottom {
        height: 60px;
    }

    .court-card-court-name {
        font-size: 16px;
    }

    .court-card-distance {
        font-size: 12px;
    }
}
